@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'Editorial New';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/editorialnew-ul.otf') format('opentype');
}

@font-face {
  font-family: 'Editorial New';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/editorialnew-rg.otf') format('opentype');
}

@font-face {
  font-family: 'Editorial New';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/editorialnew-rg.otf') format('opentype');
}